{% extends 'base.html.twig' %}

{% block title %}Modification de {{app.user.prenom}} {{app.user.nom}}{% endblock %}

{% block body %}
    <h1>Modification de {{app.user.prenom}} {{app.user.nom}}</h1>

    <div id="editProfil">{{form(editProfilForm)}}</div>
{% endblock %}