{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.prenom}} {{app.user.nom}}{% endblock %}

{% block body %}
    <h1>Profil de {{app.user.prenom}} {{app.user.nom}}</h1>
    <div id="informations">
        <p><span>Prénom</span> : {{app.user.prenom}}</p>
        <p><span>Nom</span> : {{app.user.nom}}</p>
        <p><span>Adresse mail</span> : {{app.user.email}}</p>
        <p><span>Rôle(s)</span> : 
        {% for role in app.user.roles %}
            {{role}}
        {% endfor %}
        </p>
        <p><a href="{{ path('app_profil_edit') }}">Modifier le profil</a></p>
        <p><a href="{{ path('app_profil_pass') }}">Modifier le mot de passe</a></p>
    </div>
    <br>
    <h1>Fiche(s) de {{app.user.prenom}} {{app.user.nom}} ({{app.user.fiches|length}})</h1>
    <div id="displayFiches">
        {% for fiche in app.user.fiches %}
            <p>{{fiche.title}}</p>
        {% endfor %}
    </div>

{% endblock %}