{% extends 'base.html.twig' %}

{% block title %}Topic : {{ topic.id }} {% endblock %}

{% block body %}
   <h1>{{ topic.Title }}</h1>
   <div class="fiche" id="ficheForm">
      <div class="categories">
         {% for category in topic.topicCategory %}
            <span>{{ category.libelle }}</span>
         {% endfor %}
      </div>
      <hr>
      <span>{{ topic.content }}</span>
   </div>

   <h1>Réponses</h1>
   {% for response in topic.topicResponses %}
      <div id="responseForm">
         {{ response.getUser.getPrenom }}
         {{ response.createdAt | date('d/m/Y') }}
         {{ response.content | raw }}

         {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("app_blog_show_com_del", {'id': response.id}) }}">Supprimer le commentaire</a>
         {% endif %}
      </div>
      <br>
   {% endfor %}
   {{ form(responseForm) }}

{% endblock %}
