{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <a href="{{ path('app_blog_add') }}">Nouveau topic</a>
    {% for topic in topics %}
        {% for category in topic.topicCategory %}
            {% if topic.state == 1 %}
                <ul>
                    <li>{{ category.libelle }}</li>
                    <li><a href="{{ path("app_blog_show_id", {'id': topic.id, 'libelle': category.libelle }) }}">Topic {{ topic.id }} | {{ topic.title }} | {{ topic.state }}</a></li>
                    <li><a href="{{ path('app_blog_edit', {'id': topic.id, 'libelle': category.libelle }) }}  "><i target="_blank"></i>Modifier le topic</a></li>
                </ul>
            {% endif %}
            <br>
        {% endfor %}
    {% endfor %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_blog_show_cat', { 'libelle': category.libelle}) }}">{{ category.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
