{% extends 'base.html.twig' %}

{% block title %}Fiche : {{ form.id }} {% endblock %}

{% block body %}
   <h1>Fiche {{ form.id }}</h1>
   <h2>Commentaires</h2>
   {% for form in form.commentForms %}
      <div>
         <div>
            {{ form.getUser.getPrenom }}
            {{ form.createdAt | date('d/m/Y') }}
         </div>
         <div>
            {{ form.content | raw }}
         </div>
      </div>
   {% endfor %}
   {{ form(ficheForm) }}
{% endblock %}
