{% extends 'base.html.twig' %}

{% block title %}Fiches{% endblock %}

{% block body %}
    <div class="SearchNewFiche">
        <a class="newFiche" href="{{ path('app_form_add') }}">Nouvelle fiche</a>
        <div class="searchCategory">
            <select type="text" id="searchSelect">
                <option value="" selected disabled>catégories</option>
                {% for category in categories %}
                    <option value="{{ category.libelle }}">{{ category.libelle }}</option>
                {% endfor %}
            </select>
            <button id="searchCate">Valider</button>
        </div>
        <div class="searchSystem">
            <input type="text" id="searchInput" placeholder="rechercher">
            <button id="searchButton">Valider</button>
        </div>
    </div>
    <div class="containFiche">
        {% for form in forms %}
            {% if form.state == 1 %}
                <div class="fiche">
                    <span class="title">{{ form.title }}</span>
                    <hr>
                    <div class="categories">
                        {% for category in form.categoryForm %}
                            <span>{{ category.libelle }}</span>
                        {% endfor %}
                    </div>

                    <hr>
                    <a href="{{ path("app_form_show_id", {'id': form.id}) }}">Voir la fiche</a>
                    <hr>
                    <a href="{{ path('app_form_edit', {'id': form.id}) }}  "><i target="_blank"></i>Modifier la fiche</a>
                </div>

                <br><br><br><br>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


