{% extends 'base.html.twig' %}

{% block title %}Fiches{% endblock %}

{% block body %}
    <a href="{{ path('app_form_add') }}">Nouvelle fiche</a>
    <div class="searchSystem">
        <input type="text" id="searchInput" placeholder="rechercher">
        <button id="searchButton">Valider</button>
    </div>
    {% for form in forms %}
        {% for category in form.categoryForm %}
            {% if form.state == 2 %}
                <ul>
                    <li>{{ category.libelle }}</li>
                    <li><a href="{{ path("app_form_show_id", {'id': form.id, 'libelle': category.libelle }) }}">Fiche {{ form.id }} | {{ form.title }} | {{ form.state }}</a></li>
                    <li><a href="{{ path('app_form_edit', {'id': form.id, 'libelle': category.libelle }) }}  "><i target="_blank"></i>Modifier la fiche</a></li>
                </ul>
            {% endif %}
            <br>
        {% endfor %}
    {% endfor %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_form_show_cat', { 'libelle': category.libelle}) }}">{{ category.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


